.container {
  width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0 auto; }
  .container .container_new-task {
    padding: 20px;
    border: 1px solid grey; }
    .container .container_new-task form input {
      width: 100%;
      border: 0px;
      outline: none; }
    .container .container_new-task form button {
      padding: 5px 10px;
      color: white;
      margin: 15px 0 25px;
      font-size: 10px;
      outline: none;
      cursor: pointer;
      border: none;
      background: #2cd1ab; }
  .container .container_task-list {
    padding: 20px;
    border: 1px solid grey; }
    .container .container_task-list input {
      width: 100%;
      border: 0px;
      outline: none; }
    .container .container_task-list button {
      padding: 5px 10px;
      color: white;
      margin: 15px 0 25px;
      font-size: 10px;
      outline: none;
      cursor: pointer;
      border: none;
      background: black; }
    .container .container_task-list ul {
      list-style-type: none;
      padding: 0px; }
      .container .container_task-list ul .collection-item {
        border: 1px solid #d6cbcb;
        display: flex;
        align-items: center;
        margin: 2px;
        padding-left: 10px;
        overflow-x: auto; }
        .container .container_task-list ul .collection-item .delete-item {
          margin-left: auto;
          display: inline-block;
          cursor: pointer;
          padding: 10px; }
